@charset "utf-8";

body {
//    background: linear-gradient(125deg, #b7d3f1, #e8f5f6);
// background: #111010 url(images/background/5.jpg);
 //   background-size: 100%; /* Цвет фона и путь к файлу */
// font-family: Roboto;
// font-size: large;
}

a.hoverBlack:hover {
    color: black !important;
}



/*
input[type=number] {
    width: 7em;
}*/

/*input[type=submit] {
    width: 110%;
}*/

/*table {
    font-family: Roboto;
}*/
/*
td {
    padding-left: 1ex;
    padding-right: 3ex;
    padding-top: 1ex;
    padding-bottom: 1ex;
}*/

/*
#selectGroupTable, #moveGroupTable {
    font-size: large;
    font-weight: bold;
}*/
